// Menu text color change
.nav a {
    color: yellow;
}

// Menu text hover color change
.nav a:hover {
    color: white;
}

// Button background color change
button {
    background-color: red;
}

